@import '../../../../../variables';

.pager {

    &-wrapper {
        padding-top: 1rem;
        text-align: center;
    }

    &-item {
        $margin: 5vw;
        margin: 0 $margin;

        &.is-disabled {
            opacity: 0;
            pointer-events: none;
        }

        &--navigable {
            cursor: pointer;
            display: inline-block;

            &:hover {
//                color: $color-secondary;
            }
        }

        @media screen and (max-width: map-get($container-max-widths, "lg")) {
            font-size: $font-size-s;
        }

        @media screen and (max-width: map-get($container-max-widths, "md")) {
            margin: 0 $margin / 2;
        }
    }
}
