<section class="catalog-filters">
  <div class="container">
    <div class="alert alert-warning catalog-alert" role="alert" [hidden]="!errorReceived">
      Error requesting catalog products, please try later on
    </div>
    <label class="catalog-label" data-title="brand">
      <select class="catalog-filter" (change)="onBrandFilterChanged($event, $event.target.value)">
        <option *ngFor="let brand of brands" [value]="brand.Id">{{brand.Name}}</option>
      </select>
    </label>
    <label class="catalog-label" data-title="type">
      <select class="catalog-filter" (change)="onTypeFilterChanged($event, $event.target.value)">
        <option *ngFor="let type of types" [value]="type.Id">{{type.Name}}</option>
      </select>
    </label>
    <img class="catalog-send" (click)="onFilterApplied($event)" src="/assets/images/arrow-right.svg" />
  </div>
</section>

<div *ngIf="items?.Data.length > 0">
  <div class='row'>
    <div class="col-md-4" *ngFor="let item of items?.Data">
      <div class="card">
        <div (click)=detail(item)>
        <img class="foo-img" src="{{item.PictureUri}}" />
        <div class="card-body">
          <h5 class="card-title">{{item.Name}}</h5>
          <div class="card-text">{{item.Price | number:'.2-2'}}</div>
        </div>
      </div>
      <button [ngClass]="{'catalog-button': true, 'is-disabled': !authenticated}" (click)="addToCart(item)">
          [ ADD TO CART ]
        </button>
      </div>
  </div>
  </div>
  <ngb-pagination [collectionSize]="items.Count" [pageSize]='items.PageSize' [(page)]="page" [maxSize]="5" [rotate]="true"
    [ellipses]="false" (pageChange)='onPageChange()' [boundaryLinks]="true"></ngb-pagination>

  <div *ngIf="items?.Data.length == 0">
    <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
  </div>
