<div class="container col-lg-6 offest-lg-3">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{pageTitle}}</h2>

      <div class='card-text'>
        <form novalidate (ngSubmit)="onSave()" [formGroup]="form">
          <div class="form-group" [ngClass]="{'invalid': displayMessage.name }">
            <label for="nameId">NAME</label>
            <input class="form-control" id="nameId" type="text" placeholder="Name (required)" formControlName="name" />
            <span class="help-block" *ngIf="displayMessage.name">
              {{displayMessage.name}}
            </span>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="inActiveId" type="checkbox" placeholder="In Active" formControlName="inActive" />
            <label class=" form-check-label" for="inActiveId">INACTIVE</label>
          </div>
          <br/>
          <span>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" (click)='onCancel()'>Cancel</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
