<div class='jumbotron'>
  <h1>Welcome to HOLISTIC MEDICAL SERVICES</h1>
  <h2>Integrating the Best of Conventional with Natural Medicine</h2>
  <h3>Healing the whole person</h3>
 </div>
 <p>
    At Holistic Medical Services, we strive to become your partner in health. Our mission is to inspire and empower you to live
    an extraordinary life by nourishing yourself from the inside out. We support you and help you discover a personalized,
    integrative approach for both men and women to optimize vitality and vibrant health. We test, identify, and treat imbalances
    of hormones, vitamins, and micronutrients as well as remove obstacles to healing such as toxins, allergens, and heavy
    metals. We look for and find the root cause. By treating the whole person, our programs optimize immune function, decrease
    illness and enhance the positive outcomes for health and well-being. Our functional approach truly provides a bridge
    to health, hope, and healing.
  </p>
