<div class="container">
  <div class="alert alert-warning campaign-alert" role="alert" [hidden]="!errorReceived">
    Error requesting campaigns list, please try later on
  </div>
  <div *ngIf="campaigns?.data?.length > 0">
    <app-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pager>

    <div class="card-group campaign-items row">
      <div class="campaign-item col-md-4" *ngFor="let item of campaigns.data">

        <div class="card-block">
          <h4 class="card-title campaign-name">{{item.name}}</h4>
          <img class="card-img-top campaign-thumbnail" src="{{item.pictureUri}}" alt="{{item.name}}">
          <button *ngIf="isCampaignDetailFunctionEnabled; else showDefaultDetailsLink" [ngClass]="{'campaigns-button': true}" (click)="onNavigateToDetails(item.detailsUri)">More details</button>
          <ng-template #showDefaultDetailsLink>
            <input [ngClass]="{'campaign-button': true}" type="submit" value="More details" routerLink="/campaigns/{{item.id}}">
          </ng-template>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            From {{item.from | date }} To {{item.to | date }}
          </small>
        </div>
      </div>
    </div>
    <ngb-pagination [collectionSize]="items.Count" [pageSize]='items.PageSize' [(page)]="page" [maxSize]="5" [rotate]="true"
      [ellipses]="false" (pageChange)='onPageChange()' [boundaryLinks]="true"></ngb-pagination>

    <app-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pager>
  </div>
  <div *ngIf="campaigns?.data?.length == 0">
    <span>THERE ARE NO RESULTS THAT MATCH YOUR SEARCH</span>
  </div>
</div>
