<div class="row">
  <div class="col-md-12">
    <p>Experience has shown that I.V. therapy is extremely effective in restoring peak condition and can be used when recovering
      from sicknesses that deplete the body of fluids, before or after athletic competition, or for detoxification purposes.
      In addition, staying hydrated and optimizing nutrients in this way leads to healthy skin, beautiful hair, and increased
      energy levels.</p>
    <h2 style="text-align: center">Our I.V. Menu</h2>
    <ul>Vitamin/Mineral
        <li>For specific vitamin and/or mineral deficiencies</li>

        <li>Can be used as an adjunct to other therapies, such as cancer treatments, heavy metal detox (chelating), malabsorption,
          hyperemesis gravidarum, immune boosting, etc.</li>
      </ul>
      ​

      <ul>Myers' Cocktail

        <li>Similar to Vitamin/Mineral – less potent, but a quicker infusion</li>

        <li>As a quick energy boost</li>

        <li>For specific deficiencies</li>

        <li>Immune booster</li>
      </ul>

      ​

      <ul>Hydrogen Peroxide
        <li>Any condition which can be treated with antibiotics</li>

        <li>Viral infections, both acute and chronic</li>

        <li>As an adjunct to chelation therapy</li>

        <li>Emphysema</li>

        <li>Asthma</li>

        <li>As an adjunct to cancer treatment</li>
      </ul>
      ​

      <ul>Magnesium
        <li>Migraine or tension headache</li>

        <li>Hypertension</li>

        <li>Anxiety</li>
      </ul>
      ​

      <ul>Chelation
        <li>Heavy metal toxicity</li>
      </ul>
      ​

      <ul>Macular Degeneration
        <li>Any eye condition</li>
      </ul>
      ​

      <ul>Amino Acids
        <li>Boosts athletic performance</li>

        <li>Improves sleep</li>

        <li>Aids in weight loss (carnitine/B12)</li>

        <li>Enhances focus (precursor to neurotransmitters)</li>

        <li>Alcohol and drug addictions</li>

        <li>Depression</li>
      </ul>
      ​

      <ul>Glutathione
        <li>Liver conditions, including hepatitis</li>

        <li>Neurodegenerative disorders, such as Parkinson's</li>

        <li>Any condition that increases oxidative stress</li>

        <li>COPD</li>

        <li>Chronic fatigue</li>

        <li>Autoimmune disorders</li>

        <li>Environmental sensitivities</li>

        <li>To assist in detoxing</li>
      </ul>
      ​

      <ul>Alpha-Lipoic Acid
        <li>Any condition that increases oxidative stress</li>

        <li>Diabetic patients</li>

        <li>Liver diseases</li>

        <li>As an adjunct to cancer treatment</li>

        <li>Neuropathy</li>

        <li>Neuroprotective</li>
      </ul>
      ​
      <ul>High-Dose Vitamin C
        <li>As an adjunct to cancer treatment</li>

        <li>Viral infections</li>

        <li>Bacterial infections</li>

        <li>Immune support</li>
      </ul>
  </div>
</div>
