<div class="col-md-12">
  <h1>Our Practice</h1>
  <p>A leading proponent of blending conventional medical practices with scientifically validated alternative and natural therapies,
    Dr. Frank Matalone is the founder and medical director of Whole Life Holistic Medical Services. Within our expanded 5000
    square foot facility, we offer wellness and preventative programs to promote healthy aging and maintain vitality.</p>
  <p>The Center specializes in managing and healing often misdiagnosed and chronic conditions such as digestive problems, hormone
    imbalance, recurring infections, irritable bowel syndrome, widespread inflammation, allergies, anxiety, fibromyalgia,
    mood swings, chronic fatigue syndrome, fluid retention, lost vitality, and other conditions that are not satisfactorily
    controlled.</p>
  <p>We have had success in identifying and alleviating conditions that often seem mystifying and puzzling to other health care
    professionals. For most patients, we assist in halting disease progression and preventing symptoms from worsening. Feeling
    better, attaining a former state of better health, and zest for living, in many cases, are attainable goals.</p>
  <h1>Our Physicians</h1>
  <p>Our physicians bring a multi-disciplinary perspective to health and wellness. Educated in Conventional and Naturopathic
    medicine, we balance and integrate the two approaches to improve your quality of life. Health and disease come from a
    complex interaction of physical, emotional, dietary, genetic, environmental, lifestyle, and other factors. Our physicians
    prefer safe, effective, non-invasive and supportive therapies to treat a patient as a whole person to restore their natural
    balance.</p>
  <h1>Our Mission</h1>
  <p>First of all,</p>
  <p>To do no harm and to act in cooperation with the Healing Power of Nature.</p>
  <p>To address the fundamental causes of disease.</p>
  <p>To integrate the best of conventional with natural medicine to heal the whole person through individualized treatment.</p>
  <p>To teach the principles of healthy living and preventive medicine.</p>
  <h1>Our Philosophy</h1>
  <p>We believe the best approach to your health is an integrative one, giving you the opportunity to utilize the benefits of
    natural and conventional medicine. We are concerned with restoring optimal health and balance. We identify and remove
    the root cause of disease, instead of merely controlling the symptoms with medications. We continuously research and
    offer treatment options; conventional or alternative that leads to healing. A core aspect of our philosophy is that the
    treatment must be individualized to meet the needs of the patient. With experience in both conventional medicine and
    innovative naturopathic and functional therapies, we are in a unique position to offer a personalized approach tailored
    to your physical, biochemical, and emotional needs thereby providing a Bridge to Health, Hope and Healing.</p>
</div>
