<div class='background'>
  <div class='transbox'>
    <h1>AREAS OF EXPERTISE</h1>
    <p>
      Your first office visit will typically last approximately 90 minutes. We ask that you set aside 2-and-a-half hours of your
      time. You comprehensive consultation with us will be a valuable investment toward your health. Having the energy and
      feeling of well-being from becoming truly healthy will enable you to lead a more productive, happy, and satisfying
      life–a goal toward which we all aspire. You will have the expertise of board-certified physicians, nurses, and supplement
      specialists that will address every aspect of your healthcare needs, so you can be a healthier you.
    </p>
  </div>
</div>


<ul>Natural and Integrative Medicine Approach
  <li>Our approach is truly an integrative one. We strive to find and address the root cause of illness, offering safe and natural
    alternatives along with conventional pharmaceutical interventions when appropriate. Our treatments and protocols are
    all individualized; specialized laboratory testing may be ordered to understand the causal agents, and then a patient-specific
    plan is created with your practitioners. Lifestyle changes and nutrition are key to all of our programs.</li>
</ul>
​

<ul>Allergies
  <li>General, food allergies, and intolerances testing food avoidance, menu planning, and nutritional counseling.</li>
</ul>
​
<ul>Anti-Aging and Longevity
  <li>Bio-identical hormone replacement blood, saliva, and urine testing for men and women, as well as osteoporosis screening
    and nutritional support. Fitness and exercise counseling, Telomere testing for biological vs. chronological age testing
    for genetic disposition to diseases and cancer, and targeted nutrition to turn these markers on or off.</li>
</ul>
​
<ul>Cancer Co-Management Therapies
  <li>Nutritional and herbal support to nourish and energize the body. I.V. Vitamin C, glutathione, and amino acids to build
    muscle for genetic disposition to cancer and nutritional solutions.</li>
</ul>
​
<ul>Chronic and Adrenal Fatigue and Fibromyalgia
  <li>Testing for cortisol, hormones, and chronic infections, oxidative therapies include ozone treatment, and ultraviolet blood
    irradiation and detoxification support.</li>
</ul>
​

<ul>>Detoxification Therapies and Heavy Metals
  <li>Testing for heavy metals, environmental plastics, PCBs, and pesticides. Oral and I.V. Detoxification programs- 3, 7, 21,
    and 30-day programs, which include I.V. and oral chelation, liver support with oral and I.V. nutrition, infrared sauna
    detoxification, lymphatic drainage, and hyperbaric therapies.</li>
</ul>
​

<ul>Diabetes and Heart Disease
  <li>Comprehensive and extensive blood and specialized resting for biomarkers of heart disease, stroke, diabetes and cholesterol.
    Nutritional and herbal support. Cholesterol lowering and heart health protocols. I.V. chelation.</li>
</ul>
​

<ul>Gut Health and Candida
  <li>Testing for candida, food allergies and sensitivities (both IgG and IgE). Nutritional support to heal the gut membrane
    and balance the intestinal flora.</li>
</ul>
​
<ul>Headaches and Migraines
  <li>Vitamin, antioxidant, and mineral testing, neurotransmitter testing and balancing nutritional support-correcting deficiencies.
  </li>
</ul>
​

<ul>Hormone Replacement
  <li>Blood, saliva, and urine testing for all hormones as well as addressing thyroid dysfunction. Optimizing with bio-identical
    hormones and going beyond just “normal.”</li>
</ul>
​

<ul>Immune System Disorders and Autoimmune Diseases</ul>

<ul>Lyme Disease and Immune Dysfunction
  <li>Testing for Lyme and chronic diseases, oral and I.V. nutrition, ozone therapies, and antibiotics support with detoxification
    and rebuilding the immune system.</li>
</ul>
​

<ul>Nutritional Support and Counseling
  <li>Nutritional consultations, oral and I.V. supplementation, herbal support, and diet and menu aids–gluten free, diary free,
    vegan, vegetarian, and special diets. Testing for vitamin, antioxidant and mineral deficiencies, gut flora, candida,
    and stomach acid.</li>
</ul>
​
<ul>Osteoporosis and Arthritis</ul>

<ul>Pain Management Prolozone for chronic pain and nutritional support.
</ul>

<ul>Prostate Conditions</ul>

<ul>Sleep, Anxiety, OCD, Depression, ADD/ADHD
  <li>Neurotransmitter testing and balancing. Optimization of hormone and melatonin levels, addressing foods and sugars.</li>
</ul>
​
<ul>Weight Management and Exercise Coaching
  <li>TLC therapeutic lifestyle changes teaching how to eat and exercise correctly for the rest of your life.</li>
</ul>
​
