<div class='row'>
  <div class="col-md-6 logo">
    <img src='../../../assets/logo.png'>
  </div>
  <div class="col-md-6 phone">
    <a href="tel:404.941.8621">
      <h3>Call Us: 404.941.8621</h3>
    </a>
    <a href="tel:404.941.8625">
      <h3>Supplement Store: 404.941.8625</h3>
    </a>
  </div>
</div>

<header>
  <nav class="navbar navbar-expand-xl navbar-inverse bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="menu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isActive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='home' routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='expertise' routerLinkActive="active">Areas of Expertise</a>
        </li>
        <li ngbDropdown class="nav-item dropdown active">
          <a ngbDropdownToggle class="nav-link dropdown-toggle active" id="dropdownPatient" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Our Patients</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownPatient">
            <a class="dropdown-item" routerLink='expect' routerLinkActive="active">What to Expect</a>
            <a class="dropdown-item" href='../../../assets/newpatient.pdf' target="_blank">New Patient form</a>
            <a class="dropdown-item" href='../../../assets/recordrelease.pdf' target="_blank">Patient Record Release Form</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink='iv_therapy' routerLinkActive="active">I./V. Therapy</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink='articles' routerLinkActive="active">Health Aticles</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownAbout">
            <a class="dropdown-item" routerLink='practice' routerLinkActive="active">Our Practice</a>
            <a class="dropdown-item" routerLink='team' routerLinkActive="active">Meet our Team</a>
            <a class="dropdown-item" routerLink='doctors' routerLinkActive="active">Our Doctors</a>
            <a class="dropdown-item" routerLink='staff' routerLinkActive="active">Our Staff</a>
            <a class="dropdown-item" routerLink='contact' routerLinkActive="active">Contact Us</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
