/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootswatch/dist/superhero/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/superhero/bootswatch";

h1 {
  color: $primary;
}

h2 {
  color: $primary;
}

h3 {
  color: $primary;
}

h4 {
  color: $primary;
}

h5 {
  color: $primary;
}

ul {
  color: $primary;
  font-size: 30px;
  list-style-position: inside;
  text-align: center;
}

li {
  color: white;
  font-size: 15px;
}

.logo {
  text-align:left;
  color:white;
}

.phone {
  text-align: right;
}
@media (mmax-width: 768px) {
  logo {
    text-align:center;
  }

  phone {
    text-align: center;
  }

 }

 div.background {
  background: url("/assets/expertise.jpg") ;
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  color: #000000;
}
