/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "../node_modules/bootswatch/dist/superhero/bootswatch";


ul {
  font-size: 30px;
  list-style-position: inside;
  text-align: center;
}

li {
  font-size: 15px;
}

@media (max-width: 768px) {
  .logo {
    text-align:center;
  }

  .phone {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .logo {
    text-align:left;
    color:white;
  }

  .phone {
    text-align: right;
  }
}


@media (mmax-width: 768px) {

 }

 div.background {
  background: url("/assets/expertise.jpg") ;
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
  color: #000000;
}
