/* You can add global styles to this file, and also import other style files */
h1 {
  color: orange;
}

h2 {
  color: orange;
}

h3 {
  color: orange;
}

h4 {
  color: orange;
}

h5 {
  color: orange;
}

ul {
  color: orange;
  font-size: 30px;
  list-style-position: inside;
  text-align: center;
}

li {
  color: white;
  font-size: 15px;
}

.logo {
  text-align:left;
  color:white;
}

.phone {
  text-align: right;
}
@media (mmax-width: 768px) {
  logo {
    text-align:center;
  }

  phone {
    text-align: center;
  }

 }

