.even img {
  margin-right: 15px;
  float: left;
  max-width: 50%;
}

.odd img {
  margin-left: 15px;
  float: right;
  max-width: 50%;
}

.odd {
  padding: 20px;
  overflow: hidden;
}

.even {
  padding: 20px;
  overflow: hidden;
}

.odd p {
  text-align: right;
}

.even p {
  text-align: left;
}
