
<h1>AREAS OF EXPERTISE</h1>
<div class="col-md-6 offset-md-3">
<ul>
    <li>Natural & Integrative Medicine Approach</li>
    <li>Allergies: Environmental and Food Allergies</li>
    <li>Anti-Aging & Longevity</li>
    <li>Cancer Co-Management Therapies</li>
    <li>Chelation: Oral and Intravenous, and Heavy Metals Removal</li>
    <li>Chronic Fatigue, Adrenal Fatigue, Fibromyalgia</li>
    <li>Detoxification Therapies (Mold, Heavy Metals)</li>
    <li>GI Issues: Candida, Crohn’s Disease, Irritable Bowel, Leaky Gut</li>
    <li>Hormone Imbalances: Thyroid Dysfunction, PMS, Menopause, Andropause</li>
    <li>Immune System Disorders, Autoimmune Disease</li>
    <li>Intravenous Vitamin and Mineral Therapy</li>
    <li>Lyme Disease and Chronic Infections</li>
    <li>Nutritional Support & Counseling</li>
    <li>Osteoporosis & Arthritis</li>
    <li>Ozone and Autohemotherapy</li>
    <li>Prostate Conditions</li>
    <li>Weight Loss Programs</li>
  </ul>
  <a routerLink='/expertise2' routerLinkActive="active" >Read More</a>​

</div>
