<div class="basket card container col-12">
    <div class="card-body">
        <div *ngFor="let errorMessage of errorMessages">
            <div class="basket-items-margin-left1 row">
                <div class="alert alert-warning" role="alert">&nbsp;{{errorMessage}}</div>
            </div>
        </div>
        <table class="table table-hover table-striped" style='text-align:left;'>
          <thead>
              <tr class='row text-primary' stype='font-weight: bold;'>
                  <th class="basket-title col-3 hidden-md-down"></th>
                  <th class="basket-title col-3">Product</th>
                  <th class="basket-title col-2">Price</th>
                  <th class="basket-title col-2">Quantity</th>
                  <th class="basket-title col-2">Cost</th>
                </tr>
          </thead>
          <tbody>
              <tr class='row' *ngFor='let item of basket?.items'>
                  <td class="basket-item basket-item--middle col-3 hidden-xl-down">
                      <img class="basket-image" src="{{item.pictureUrl}}"/>
                  </td>
                  <td class="basket-item basket-item--middle col-3">{{item.productName}}</td>
                  <td class="basket-item basket-item--middle col-2">$ {{item.unitPrice | number:'.2-2'}}</td>
                  <td class="basket-item basket-item--middle col-2">
                      <input id="quantity"
                             class="basket-input"
                             type="number"
                             min="0"
                             [(ngModel)]="item.quantity"
                             (change)="itemQuantityChanged(item)"/>
                  </td>
                  <td class="basket-item basket-item--middle basket-item--mark col-2">$ {{(item.unitPrice * item.quantity) | number:'.2-2'}}</td>
                </tr>
          </tbody>
        </table>
    </div>

    <div class="container">
        <article class="basket-titles basket-titles--clean row">
            <section class="basket-title col-xs-9"></section>
            <section class="basket-title col-xs-2">Total</section>
        </article>

        <article class="basket-items row">
            <section class="basket-item col-xs-9"></section>
            <section class="basket-item basket-item--mark col-xs-2">$ {{totalPrice | number:'.2-2'}}</section>
        </article>

        <article class="basket-items row">
            <section class="basket-item col-xs-7"></section>
            <section class="basket-item col-xs-2">
                <button [disabled]='!isDirty()' class="btn basket-checkout" (click)="update($event)">[ Update ]</button>
            </section>
            <section class="basket-item col-xs-3">
                <button [disabled]='isDirty()' (click)="checkOut($event)" class="btn basket-checkout">[ Checkout ]</button>
            </section>
        </article>
    </div>
</div>
