<div class="orders">
    <app-header2 url="/catalog">Back to catalog</app-header2>

    <div class="container">
        <div class="alert alert-warning orders-alert" role="alert" [hidden]="!errorReceived">
            Error requesting order list, please try later on
        </div>
        <article class="orders-titles row">
            <section class="orders-title col-xs-2">Order number</section>
            <section class="orders-title col-xs-4">Date</section>
            <section class="orders-title col-xs-2">Total</section>
            <section class="orders-title col-xs-2">Status</section>
            <section class="orders-title col-xs-2"></section>
        </article>

        <article class="orders-items row"
                 *ngFor="let order of orders">
            <section class="orders-item col-xs-2">{{order.ordernumber}}</section>
            <section class="orders-item col-xs-4">{{order.date | date:'short'}}</section>
            <section class="orders-item col-xs-2">$ {{order.total}}</section>
            <section class="orders-item col-xs-2">{{order.status}}</section>
            <section class="orders-item col-xs-2">
                <a class="orders-link" routerLink="/orders/{{order.ordernumber}}">Detail</a>
            </section>
        </article>
    </div>
</div>
